<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Chat</title>
  </head>
  <body>
    <h3>New Chat</h3>

    <form method="POST" action="/chats">
      <input type="text" name="from" placeholder="From" />
      <br />
      <textarea name="msg" placeholder="Write your message here"></textarea>
      <br />
      <input type="text" name="to" placeholder="To" />
      <br />
      <button class="btn">Send Mesage</button>
    </form>
  </body>
</html>
